<form [formGroup]="postForm" enctype='multipart/form-data' id="postForm" (ngSubmit)="addNewPost()">
  <div class="row">
    <div class="col-md-10">
        <div class="form-group">
            <label for="postBody" id="post-label">Post something here:</label>
            <input type="text" name="content" class="form-control" placeholder="What's going on in your mind?" formControlName='content'>
          </div>
          <div class="form-group col-md-6 offset-md-4" >
            <label for="post-image"  style="margin: auto" class="btn btn-success col-md-12">Add Photo</label>
            <input  id="post-image" style="display: none;"
              type="file" name='posts' 
            (change)="addMedia($event.target.files)" formControlName="media">
          </div>
         
    </div>
    <div class="col-md-2">
        <button href="#" type="submit" class="btn btn-primary btn-sm" style="margin-top:35px">Post!</button>
    </div>
  </div>
 


</form>